BasedOnStyle: Microsoft
IndentWidth: 8
TabWidth: 8
UseTab: Always
AccessModifierOffset: -8
AlignConsecutiveAssignments:
  Enabled: false
AlignConsecutiveDeclarations:
  Enabled: false
AlignTrailingComments:
  Kind: Never
BreakBeforeBraces: Attach
ColumnLimit: 120
SpaceBeforeParens: ControlStatements

# to apply for all files use (bash):
# find ./ -iname '*.hpp' -o -iname '*.cpp' | xargs clang-format -i
